@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@model InventoryControlPages.UserModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AlmacenSQLiteEntities;
@using AlmacenDataContext;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/script.js" defer></script>
</head>
<body>
    <div class="welcome-init">
        <div class="titles">
            <p id="bienvenida">Bienvenido al Almacen</p>
        </div>
        <div id="loginFormContainer" class="form-container">
            <br>
            <p id="in" onclick="toggleForm('loginForm')">Log In</p>
            <div class="insert-database">
                <div id="loginForm" class="form">
                    <p>Inicie sesión</p>
                    <form method="POST">
                        <div class="fields-table">
                            <input asp-for="Usuario.Usuario1" placeholder="Nombre de Usuario" class="form-control">
                            <span asp-validation-for="Usuario.Usuario1" class="text-danger"></span>
                            <input asp-for="Usuario.Password" placeholder="Contraseña" class="form-control">
                            <span asp-validation-for="Usuario.Password" class="text-danger"></span>
                            <input id="enviar" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="signinFormContainer" class="form-container">
            <br>
            <p onclick="toggleForm('signinForm')">Sign In</p>
            <div class="insert-database">
                <div id="signinForm" class="form">
                    <p>Registre su Usuario</p>
                    <form>
                        <div class="fields-table">
                            <input type="number" placeholder="Registro" name="Registro">
                            <input type="text" placeholder="Nombre" class="form-control">
                            <input type="text" placeholder="Apellido paterno" class="form-control">
                            <input type="text" placeholder="Apellido materno" class="form-control">
                            <input type="number" placeholder="Semestre" name="Registro">
                            <input type="text" placeholder="Grupo" class="form-control">
                            <input type="email" placeholder="Correo" name="Correo" >
                            <input type="number" placeholder="Plantel" name="plantel">
                            <input id="enviar" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>