@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@model InventoryControlPages.UserModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AlmacenSQLiteEntities;
@using AlmacenDataContext;
@using InventoryControl.UI;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/script.js" defer></script>
</head>
<body>
    <div class="welcome-init">
        <div class="titles">
            <p id="bienvenida">Bienvenido al Almacen</p>
        </div>
        <div id="loginFormContainer" class="form-container">
            <br>
            <p id="in" onclick="toggleForm('loginForm')">Log In</p>
            <div class="insert-database">
                <div id="loginForm" class="form">
                    <p>Inicie sesión</p>
                    <form method="POST">
                        <div class="fields-table">
                            <input asp-for="usuario.Usuario1" placeholder="Nombre de Usuario" class="form-control">
                            <span asp-validation-for="usuario.Usuario1" class="text-danger"></span>
                            <input asp-for="usuario.Password" placeholder="Contraseña" class="form-control">
                            <span asp-validation-for="usuario.Password" class="text-danger"></span>
                            <input id="enviar" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="signinFormContainer" class="form-container">
            <br>
            <p onclick="toggleForm('signinForm')">Sign In</p>
            <div class="insert-database">
                <div id="signinForm" class="form">
                    <p>Registre su Usuario</p>
                    <form method="POST" asp-page-handler="SignIn">
                        <div class="fields-table">
                            <input asp-for="estudiante.EstudianteId" placeholder="Registro" class="form-control" required>
                            <span asp-validation-for="estudiante.EstudianteId" class="text-danger"></span>

                            <input asp-for="estudiante.Nombre" placeholder="Nombre" class="form-control" required>
                            <span asp-validation-for="estudiante.Nombre" class="text-danger"></span>

                            <input asp-for="estudiante.ApellidoPaterno" placeholder="Apellido paterno" class="form-control" required>
                            <span asp-validation-for="estudiante.ApellidoPaterno" class="text-danger"></span>

                            <input asp-for="estudiante.ApellidoMaterno" placeholder="Apellido materno" class="form-control" required>
                            <span asp-validation-for="estudiante.ApellidoMaterno" class="text-danger"></span>

                            <input asp-for="estudiante.SemestreId" placeholder="Semestre" class="form-control" required>
                            <span asp-validation-for="estudiante.SemestreId" class="text-danger"></span>

                            <input asp-for="estudiante.GrupoId" placeholder="Grupo" class="form-control" required>
                            <span asp-validation-for="estudiante.GrupoId" class="text-danger"></span>

                            <input asp-for="estudiante.Correo" placeholder="Correo" class="form-control" required>
                            <span asp-validation-for="estudiante.Correo" class="text-danger"></span>

                            <input asp-for="estudiante.PlantelId" placeholder="Plantel" class="form-control" required>
                            <span asp-validation-for="estudiante.PlantelId" class="text-danger"></span>
                            
                            <input asp-for="usuario.Usuario1" placeholder="Nombre de Usuario" class="form-control" required>
                            <span asp-validation-for="usuario.Usuario1" class="text-danger"></span>
                            
                            <input asp-for="usuario.Password" placeholder="Contraseña" class="form-control" required>
                            <span asp-validation-for="usuario.Password" class="text-danger"></span>
                            <input id="enviar" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>