@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.ChangeTracking
@model InventoryControl.Pages.UserModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using AlmacenSQLiteEntities;
@using AlmacenDataContext;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles.css">
    <title>Usuarios</title>
</head>
<body>
    <div class="titles">
        <p>Usuarios</p>
    </div>
    <div class="insert-database">
        <p>Log In Usuario</p>
        <form method="POST">
            <div class="fields-table">
                <input asp-for="Usuario.Usuario1" placeholder="Nombre de Usuario" class="form-control">
                <span asp-validation-for="Usuario.Usuario1" class="text-danger"></span>
                <input asp-for="Usuario.Password" placeholder="Contraseña" class="form-control">
                <span asp-validation-for="Usuario.Password" class="text-danger"></span>
                <input id="enviar" type="submit" />
            </div>
        </form>
    </div>
</body>
</html>