body {
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    align-items: center;
    background-color: #04364A;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

header p {
    font-size: 20px;
    font-weight: bold;
}


.Toolbar nav {
    background-color: #04364A;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 35px;
    width: 100px; /* Ancho inicial de la barra de navegación */
    height: calc(100% - 35px);
    transition: width 0.3s ease-in-out;
}

.Toolbar nav:hover {
    width: 200px; /* Ancho expandido al poner el cursor sobre la barra de navegación */
    color: #04364A; /* Color del texto al poner el cursor sobre el recuadro */
}

.Toolbar nav a {
    float: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background-color: #04364A; /* Agregado fondo al enlace */
    transition: background-color 0.3s ease-in-out; /* Agregada transición al cambio de fondo */
}

.Toolbar nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    background-color: rgba(100, 204, 197, 0.8); /* Cambiado a rgba con un canal alfa de 0.8 para transparencia */
    color: #04364A;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Agregado background-color a la transición */
}

.Toolbar nav a:hover {
    background-color: #176B87; /* Cambiado a un color más oscuro para resaltar */
}

.Toolbar nav a:hover::before {
    left: 0;
    width: 100%;
    color: #04364A;
    background-color: rgba(100, 204, 197, 0); /* Cambiado a rgba con un canal alfa de 0 para ocultar el recuadro al poner el cursor sobre el enlace */
}

@media screen and (max-width: 600px) {
    .Toolbar nav {
        left: -250px; /* Oculta el menú en pantallas pequeñas */
    }

    .Toolbar nav.responsive {
        position: relative;
    }

    .Toolbar nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .Toolbar nav.responsive a {
        display: block;
        text-align: left;
    }
}


/* Agregamos un botón de menú para pantallas pequeñas */
.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .Toolbar nav a:not(:first-child) {
        display: none;
    }
    .Toolbar nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .Toolbar nav.responsive {
        position: relative;
    }
    .Toolbar nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Toolbar nav.responsive a {
        display: block;
        text-align: left;
    }
}

.welcome-init {
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.titles {
    display: flex;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: #04364A;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #04364A;
}

.titles #bienvenida {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #176B87;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%; /* Ajusta el ancho al 25% de la pantalla */
    margin-left: auto;
    margin-right: auto;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out, background-color 0.3s;
}

.form-container:hover {
    background-color: #04364A;
    cursor: pointer;
}

.form {
    display: none;
    text-align: center;
    align-items: center;
}

#loginBtn, #signinBtn {
    text-align: center;
    align-items: center;
    background-color: #176B87;
    border: none;
    color: #fff;
    border-radius: 10px;
    width: 300px; /* Ajusta el ancho automáticamente */
    transition: width 0.3s ease-in-out; /* Ajusta la duración y el efecto de la transición */
}

#loginBtn:hover, #signinBtn:hover {
    background-color: #04364A;
    color: #fff;
}

.table-database {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 5px;
    justify-content:center;
}

.table-database table{
    width: 100%;
}

.table-database thead{
    justify-content: center;
    align-items: center;
    background-color: #176B87;
    color: #fff;
    font-weight: bold;
    border: #04364B;
}

.table-database thead td{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-color: #04364C;
}

.table-database tbody {
    align-items: center;
    background-color: #eee;
}

.table-database #id {
    background-color: #ddd;
    color:#043640;
    font-weight: bold;
    text-align: center;
}

.table-database #campos {
    text-align: left;
}

.table-database #id:hover {
    color: #64CCC5;
    font-weight: bold;
}

.table-database #campos:hover {
    color: #176B87;
    font-weight: bold;
}

.insert-database {
    text-align: center;
    margin-bottom: 2px;
    padding-top: 3px;
}

.insert-database p {
    border-bottom: 1px solid #176B87;
}

.fields-table {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los campos al centro */
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.fields-table select {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #64CCC5;
    transition: border-color 0.3s;
}

.fields-table option {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #64CCC5;
    transition: border-color 0.3s;
}

.fields-table select option{
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #64CCC5;
    transition: border-color 0.3s;
}

.fields-table input {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #64CCC5;
    transition: border-color 0.3s;
}

.fields-table input:hover {
    border-color: 1px solid #176B87;
}


.fields-table #enviar {
    background-color: #04364A;
    border: none;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.form-container:hover + .fields-table #enviar {
    background-color: #176B87; /* Cambia a tu color deseado */
    color: #fff;
}

.form-container:hover .fields-table #enviar:hover {
    background-color: #64CCC5; /* Cambia a tu color deseado */
    color: #04364A;
}

footer {
    background-color: #176B87;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}